<%- include('partials/header.ejs') -%>

<h1>Top Courses</h1>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/python.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This Python Programming Foundation -Self Paced Course is designed for absolute beginners who want to get started with Python programming and build their fundamentals. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/results?search_query=python+language'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/javascript.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">JavaScript is the world most popular programming language for web pages. It is well-known for Client-side as well as Server-side developments of web pages</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/watch?v=gfDE2a7MKjA'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/c++.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Learn C++ from basic to advanced. Know how to solve intense coding problems with ease.</p> <p>Build your base with industry experts, learn multidimensional arrays and Templates in C++</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://practice.geeksforgeeks.org/courses/CPP-Foundation'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/machinelearning.webp" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Machine learning is the science of getting computers to act without being explicitly programmed. You will learn about the practical know-how needed to quickly and powerfully apply these techniques to new problems.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/watch?v=NWONeJKn6kc'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/dsa.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">A data structure is a way of organizing data so that it can be used effectively. An algorithm is a specific procedure for solving a well-defined computational problem.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/watch?v=8hly31xKli0'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/cp.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Competitive programming is necessary because it is challenging, and it builds problem-solving skills in students.</p> <p> You become much faster in solving the problems and picking up the concepts in competitive programming.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/watch?v=kjBvQWHk_KI'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/webdev.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n'">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/appdev.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Mobile app development is the act or process by which a mobile app is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones. These software applications are designed to run on mobile devices, such as a smartphone or tablet computer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/cybersec.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Cybersecurity is the protection of computer systems and networks from information disclosure, theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Recommended Courses</h2>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/python.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">This Python Programming Foundation -Self Paced Course is designed for absolute beginners who want to get started with Python programming and build their fundamentals. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/javascript.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">JavaScript is the world most popular programming language for web pages. It is well-known for Client-side as well as Server-side developments of web pages</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark">Explore</button>

              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="images/c++.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Learn C++ from basic to advanced. Know how to solve intense coding problems with ease.</p> <p>Build your base with industry experts, learn multidimensional arrays and Templates in C++</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-dark" onclick="window.location.href='https://practice.geeksforgeeks.org/courses/CPP-Foundation'">Explore</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>

    <%- include('partials/footer.ejs') -%>
