<%- include('partials/header.ejs') -%>
  <div id="section-1">
    <img class="background-img" src="images/logogalaxy - Copy.jpg" alt="background-image">
    <h1>CodeGalaxy</h1>
    <p class="h1para">The best way to learn is to CODE.</p>
    <p class="h2para">A One Stop Destination for every Programmer's need. It's free.</p>
    <button type="button" class="signupbutton btn btn-outline-dark">SIGNUP / LOGIN</button>
  </div>

  <h2 class="platforms">Learn from leading competitive programming platforms and companies with CodeGalaxy</h2>
  <img class="platforms-img" src="images/partners.png" alt="The Platforms">

  <div id="section-2">
    <!-- Pricing -->

    <section id="pricing" class="white-section">


      <h2 class="section-heading">A Plan for Every Programmer</h2>
      <p class="section2para">Simple and affordable price plans for you and your successful career.</p>
      <div class="row">
        <div class="pricing-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>NOVICE</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">Free</h2>
              <p>Unlimited App Usage</p>
              <p>Unlimited Practice Problems</p>
              <p>Access to unlimited free lectures</p>
              <button type="button" class="btn btn-block btn-outline-dark btn-lg sign-up">Sign Up</button>
            </div>
          </div>
        </div>
        <div class="pricing-column col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h3>ELITE</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">Rs.449 p.m.</h2>
              <p>10 Doubts per Day</p>
              <p>Unlimited App Usage</p>
              <p>Unlimited Practice Problems</p>
              <p>Access to unlimited free lectures</p>
              <button type="button" class="btn btn-block btn-outline-dark btn-lg sign-up">Sign Up</button>
            </div>
          </div>
        </div>
        <div class="pricing-column col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3>MASTER</h3>
            </div>
            <div class="card-body">
              <h2 class="price-text">Rs.999 p.m.</h2>
              <p>Guidance for creating Projects</p>
              <p>Unlimited Doubts Solving</p>
              <p>Unlimited App Usage</p>
              <p>Unlimited Practice Problems</p>
              <p>Access to unlimited free lectures</p>
              <button type="button" class="btn btn-block btn-outline-dark btn-lg sign-up">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

<%- include('partials/footer.ejs') -%>
