<!-- Footer start -->
<footer class="footerr" id="footerr">
<div class="footer-wrapper">
  <div class="footer-wrapper_branding">
      <a href="#section-1">
          <img class="footer-wrapper_branding-logo" src="images/cglogo.png" alt="CodeGalaxy" width="50%;">
      </a>
      <div class="footer-wrapper_branding-address">
          <span>
              K.J. Somaiya College Of Engineering <br />
              Vidyanagar, Vidya Vihar East,<br />
              Ghatkopar East, Mumbai, Maharashtra 400077
          </span>
      </div>
      <div class="footer-wrapper_branding-email">
          <i class="material-icons">Email: </i>
          <a href="mailto:codecell.engg@somaiya.edu">codecell.engg@somaiya.edu</a>
      </div>
      <div class="footer-wrapper_branding-social">
          <a href="https://www.facebook.com/kjscecodecell/" target="_blank">
              <div class="facebook"></div>
          </a>
          <a href="https://www.instagram.com/kjsce_codecell/" target="_blank">
              <div class="instagram"></div>
          </a>
          <a href="https://in.linkedin.com/company/kjscecodecell" target="_blank">
              <div class="linkedin"></div>
          </a>
          <a href="https://twitter.com/kjsce_codecell" target="_blank">
              <div class="twitter"></div>
          </a>
          <a href="https://www.youtube.com/channel/UC-J3ooFCl5W5vgAGSVWFQuA" target="_blank">
              <div class="youtube"></div>
          </a>
      </div>
  </div>
  <div class="footer-wrapper_links">
      <ul class="footer-wrapper_links-list">
          <p>StartUp Company</p>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms of Service</a></li>
      </ul>
      <ul class="footer-wrapper_links-list">
          <p>Learn</p>
          <li><a href="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop">Java</a></li>
          <li><a href="https://www.youtube.com/embed/videoseries?list=PL4PCksYQGLJOcaPLgeMFaxaHigPFjBuTG">Python</a></li>
          <li><a href="https://www.youtube.com/embed/videoseries?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n">Web Development</a></li>
          <li><a href="https://www.youtube.com/embed/videoseries?list=PLDzeHZWIZsToJ9zSl4-5BfOBzAR0fm--f">C++
                  Programming</a></li>
          <li><a href="https://www.youtube.com/embed/videoseries?list=PLUcsbZa0qzu3yNzzAxgvSgRobdUUJvz7p">Data Structures and Algorithms</a></li>
      </ul>
      <ul class="footer-wrapper_links-list">
          <p>Practice</p>
          <li><a href="courses.html">Courses</a></li>
          <li><a href="courses.html">Company-wise</a></li>
          <li><a href="courses.html">Topic-wise</a></li>
          <li><a href="https://www.indeed.com/career-advice/interviewing/how-to-prepare-for-an-interview">Interview Preparation</a></li>
      </ul>
      <ul class="footer-wrapper_links-list">
          <p>Contribute</p>
          <li><a href="discussion_forum.html">Share an Article</a></li>
          <li><a href="discussion_forum.html">Share your Interview
                  Experience</a></li>
          <li><a href="hiring.html">Internships</a></li>
          <li><a
                  href="hiring.html">Job Openings</a>
          </li>
      </ul>
  </div>
</div>
<div class="footer-strip">
  <div class="copyright">
      <a href="#section-1" target="_blank">@CodeGalaxy,</a>
      <a href="#" target="_blank"><span> All rights reserved</span></a>
  </div>
  <div class="social-links">
  </div>
</div>
</footer>
<!-- End of footer -->
</body>
</html>
